header {
    position: relative;
    padding: 5rem 0 3.5rem;
    overflow: hidden;
    background: linear-gradient(45deg, var(--grey), var(--grey3));
    z-index: 0;
}

header img {
    margin-top: 40px;
}

header .hero-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0.2;
    z-index: -1;
}
